In [0]:
import pandas as pd

In [0]:
df = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines=True)

In [5]:
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def count_of_each_word(l):
  d={}
  for x in l.split():
    if x in d:
      d[x] += 1
    else:
      d[x] = 1
  return d

In [0]:
df['count_of_each_word_in_reviewText']= df['reviewText'].apply(count_of_each_word)
df['count_of_each_word_in_summary']= df['summary'].apply(count_of_each_word)

In [8]:
df.head()

       reviewerID  ...                      count_of_each_word_in_summary
0  A32T2H8150OJLU  ...  {'A': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1  A3MAFS04ZABRGO  ...  {'Price': 1, 'of': 1, 'GOLD': 1, 'is': 1, 'up,...
2  A1F1A0QQP2XVH5  ...  {'Good': 1, 'functionality,': 1, 'but': 1, 'no...
3   A49R5DBXXQDE5  ...  {'One': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4  A2XRMQA6PJ5ZJ8  ...                  {'Still': 1, 'the': 1, 'best': 1}

[5 rows x 11 columns]

In [0]:
def count_vowels_consonents(l):
  d1= {'vowels': 0 , 'consonents':0}
  l1 = ['a','e','i','o','u','A','E','I','O','U']
  for x in l.split():
    if x in l1:
      d1['vowels'] +=1
    else:
      d1['consonents'] +=1
  return d1

In [0]:
df['count_vowels_consonents_in_reviewText']= df['reviewText'].apply(count_vowels_consonents)
df['count_vowels_consonents_in_summary']= df['summary'].apply(count_vowels_consonents)

In [11]:
df.head()

       reviewerID  ... count_vowels_consonents_in_summary
0  A32T2H8150OJLU  ...     {'vowels': 1, 'consonents': 6}
1  A3MAFS04ZABRGO  ...    {'vowels': 0, 'consonents': 13}
2  A1F1A0QQP2XVH5  ...     {'vowels': 0, 'consonents': 8}
3   A49R5DBXXQDE5  ...     {'vowels': 0, 'consonents': 9}
4  A2XRMQA6PJ5ZJ8  ...     {'vowels': 0, 'consonents': 3}

[5 rows x 13 columns]

In [0]:
import re

In [0]:
def words_that_start_with_B_and_end_with_G(l):
  b = re.findall(r'\b[bB]\w+', l)
  g = re.findall(r'\b\w+[gG]\b',l)
  for x in g:
    if x not in b:
      b.append(x)
  return b

In [0]:
df['words_that_start_with_B_and_end_with_G_for_reviewText']= df['reviewText'].apply(words_that_start_with_B_and_end_with_G)
df['words_that_start_with_B_and_end_with_G_for_summary']= df['summary'].apply(words_that_start_with_B_and_end_with_G)

In [26]:
df.head()

       reviewerID  ... words_that_start_with_B_and_end_with_G_for_summary
0  A32T2H8150OJLU  ...                                             [long]
1  A3MAFS04ZABRGO  ...                                             [bury]
2  A1F1A0QQP2XVH5  ...                                              [but]
3   A49R5DBXXQDE5  ...                                                 []
4  A2XRMQA6PJ5ZJ8  ...                                             [best]

[5 rows x 16 columns]

In [0]:
def words_that_does_not_start_with_B_and_end_with_G(l):
    l1 = []
    b = re.findall(r'\b[^\WbB]\w*', l)
    g = re.findall(r'\b\w+[^\WgG]\b',l)
    b = list(set(b))
    for x in b:
        if x in g:
            l1.append(x)
    return l1

In [0]:
df['words_that_does_not_start_with_B_and_end_with_G_for_reviewText']= df['reviewText'].apply(words_that_does_not_start_with_B_and_end_with_G)
df['words_that_does_not_start_with_B_and_end_with_G_for_summary']= df['summary'].apply(words_that_does_not_start_with_B_and_end_with_G)

In [72]:
df.head()

       reviewerID  ... words_that_does_not_start_with_B_and_end_with_G_for_summary
0  A32T2H8150OJLU  ...              [solid, friend, time, and, performer]
1  A3MAFS04ZABRGO  ...  [Price, up, of, so, don, golden, flagship, HP1...
2  A1F1A0QQP2XVH5  ...  [not, Good, functionality, HPs, old, durable, ...
3   A49R5DBXXQDE5  ...  [an, last, extinct, of, species, almost, the, ...
4  A2XRMQA6PJ5ZJ8  ...                                       [the, Still]

[5 rows x 18 columns]