In [2]:
import pandas as pd
import re
import nltk
from nltk.tokenize import MWETokenizer 
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [3]:
df = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz', lines=True)    
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [5]:
from nltk.tokenize import sent_tokenize, word_tokenize
def mwe(str):
    d = {}
    tk = MWETokenizer() 
    d['MWETokenizer'] = tk.tokenize(str.split())
    d['word_tokenize'] = word_tokenize(str)
    temp = nltk.pos_tag(str.split())
    d['pos_tag'] = temp
    adj = []
    for x in temp:
        if x[1] == 'JJ':
            adj.append(x[0])
    d['adjective'] = adj
    return d
df['nltk']=df['reviewText'].apply(mwe)
df.head()

       reviewerID  ...                                               nltk
0  A32T2H8150OJLU  ...  {'MWETokenizer': ['I', 'bought', 'my', 'first'...
1  A3MAFS04ZABRGO  ...  {'MWETokenizer': ['WHY', 'THIS', 'BELATED', 'R...
2  A1F1A0QQP2XVH5  ...  {'MWETokenizer': ['I', 'have', 'an', 'HP', '48...
3   A49R5DBXXQDE5  ...  {'MWETokenizer': ['I've', 'started', 'doing', ...
4  A2XRMQA6PJ5ZJ8  ...  {'MWETokenizer': ['For', 'simple', 'calculatio...

[5 rows x 10 columns]